version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "expense-splitter-dev"
s3_prefix = "expense-splitter-dev"
region = "us-east-1"
confirm_changeset = false
capabilities = "CAPABILITY_IAM"
disable_rollback = false
resolve_s3 = true
